body {
	height: 100%;
}
.blog-post-content > h1 {
	font-weight: bold;
}
/* .app .card .card-body h2 {
	font-weight: 500;
} */

.app {
	margin-top: 5.5rem;
	height: 100%;
	position: relative;
}

.app .docs {
	height: 100%;
}
.app .docs-menu {
	/* padding: 2rem 0rem 0rem 2rem; */
	padding-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	border-right-width: 1.2px;
	border-right-style: solid;
	border-right-color: #dfd8e3;
	height: calc(100vh - 88px);
    position: sticky;
	top: 5.5rem; 
	text-align: left;
	overflow: auto;
}

.app .docs-menu #menus {
	padding-left: 1rem;
}

.docs-nav {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.docs-nav .navbar-brand {
	padding: .25rem;
}

@media (max-width: 768px) {
	.app {
		margin-top: 5rem;
	}
	.app .docs-menu {
		padding-top: 1rem;
		padding-bottom: 1rem;
		position: relative;
		height: auto;
		top: 0px;
		border-right: 0px;
		border-bottom-width: 1.2px;
		border-bottom-style: solid;
		border-bottom-color: #dfd8e3;
	}
	.app .docs-content {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.docs-nav .navbar-brand {
		padding: 0rem;
	}
}
.app .docs-menu .menu-head {
	display: block;
	color: var(--textColor);
	margin-top: 1rem;
	font-size: 20px;
	font-weight: 500;
}
.app .docs-menu .menu-list {
	margin-top: .25rem;
	padding-left: 1rem;
	list-style-type: none;
}
.app .docs-menu .menu-list .menu-item {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: 18px;
	font-weight: 400;
}
.app .docs-menu .menu-list .menu-item a {
	color: #939699;
}
.app .docs-menu .menu-list .menu-item.active a {
	/* color: #212529; */
	opacity: .8;
	color: var(--textColor);
	font-weight: 400;
}
.app .docs-menu .menu-list .menu-item a:hover {
	color: #595a5c;
}
.app .docs-content {
	text-align: left;
	padding: 3rem;
	min-height: 100vh;
}
.language-html,
.language-css {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.show-col {
	border: 1px solid #C5A4D8;
	background-color: #EDE7F6;
}

.blog-post-content>h2 {
	margin-top: 3rem;
}
.blog-post-content>h3 {
	margin-top: 2rem;
}


/* To example */
.h-50 {
	height: 50px;
}
.h-75 {
	height: 75px;
}
.ex-block {
	background-color: #EDE7F6;
	border: 1px solid #c5a4d8;
}
.ex-block + .ex-block {
	margin-top: 1rem;
}
.ex-block-sm {
	color: black !important;
	padding: .75rem 1rem;
	border: 1px solid #8863d85e;
}
.ex-border {
	padding: .5rem;
	border: 1px solid var(--primaryColor);
}
.ex-border + .ex-border {
	margin-top: 1rem;
}