body {
	height: 100%;
}
.app {
	margin-top: 56px;
	height: 100%;
	position: relative;
}

.app .docs {
	height: 100%;
}
.app .docs-menu {
	/* padding: 2rem 0rem 0rem 2rem; */
	margin-left: auto;
	margin-right: auto;
	border-right-width: 1.2px;
	border-right-style: solid;
	border-right-color: #dfd8e3;
	height: calc(100vh - 56px);
    position: sticky;
	top: 56px; 
	text-align: left;
	overflow: auto;
}
@media (max-width: 768px) {
	.app .docs-menu {
		position: relative;
		height: auto;
		top: 0px;
		border-right: 0px;
		border-bottom-width: 1.2px;
		border-bottom-style: solid;
		border-bottom-color: #dfd8e3;
	}
}
.app .docs-menu .menu-head {
	display: block;
	color: #212529;
	margin-top: 1rem;
	font-size: 20px;
	font-weight: 500;
}
.app .docs-menu .menu-list {
	margin-top: .25rem;
	padding-left: .5rem;
	list-style-type: none;
}
.app .docs-menu .menu-list .menu-item {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: 18px;
	font-weight: 400;
}
.app .docs-menu .menu-list .menu-item a {
	color: #939699;
}
.app .docs-menu .menu-list .menu-item.active a {
	color: #212529;
	font-weight: 400;
}
.app .docs-content {
	text-align: left;
	padding: 3rem !important;
}

.show-col {
	border: 1px solid #C5A4D8;
	background-color: #EDE7F6;
}

.blog-post-content>h2 {
	margin-top: 3rem;
}

.m-b-3 {
	margin-bottom: 3rem;
}


/* To example */
.h-50 {
	height: 50px;
}
.h-75 {
	height: 75px;
}
.ex-block {
	background-color: #EDE7F6;
	border: 1px solid #c5a4d8;
}
.ex-block + .ex-block {
	margin-top: 1rem;
}
.ex-block-sm {
	padding: .75rem 1rem;
	border: 1px solid #8863d85e;
}